/* Variables */
:root {
  --orange: rgb(255, 156, 85);
  --yellow: rgb(255, 241, 119);
  --yellow-weight: rgb(255, 233, 33);
  --orange-weight: rgb(255, 129, 39);
  --black: rgb(22, 22, 22);
  --black-weight: #000000;
  --white: white;
  --gray: gray;
  --red: #CD3C30;
  --blue: #0073B1;
  --green: #00A884;
  --red-weight: #DC3545;
  --green-weight: #28A745;
  --gradient: linear-gradient(0deg, var(--orange), var(--yellow));
  --gradient-body: linear-gradient(90deg, var(--yellow) 0%, var(--orange) 80%);
  --webkit-box-shadow: 6px -4px 5px 5px rgba(0,0,0,0.58);
  --box-shadow: 6px -4px 5px 5px rgba(0,0,0,0.58);
}

/* HTML y Body */
html {
  scroll-behavior: smooth;
  scroll-padding: 56px;
}

body {
  margin: 0;
  padding: 0;
  background: var(--black);
}

/* Scrollbar */
/* ::-webkit-scrollbar {
  display: none;
} */

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--black);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--white);
  border-radius: 20px;
  /* border: 3px solid var(--white); */
}

/* Main */
.container {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  height:100%;
}

main {
  flex: 1;
}

/* Buttons */
button {
  padding: 0.5em 1em;
  border: none;
  border-radius: 100px;
  font-weight: bold;
  text-transform: uppercase;
  background: var(--gradient);
  color: var(--black);
}

button:hover {
  transform: scale(1.05);
}

.link-button {
  border-radius: 100px;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--black-weight);
  color: var(--white);
  width: 100%;
  bottom: 0;
  height: 250px;
  flex-wrap: wrap;
  font-style: italic;
  text-align: center;
  margin-top: 4%;
}

.footer-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin: 0 2% 0 2%;
}

.footer-title img {
  width: 250px;
}

.footer-title p {
  font-size: 2em;
}

.footer-section-final {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-contact {
  display: flex;
  justify-content: space-between;
  width: 20%;
  padding: 1.5% 2%;
}

footer p {
  margin: 0;
  padding: 1.5% 2%;
}

.footer-divisor {
  margin: 1%;
  border: 1px solid var(--gray);
}

footer i {
  color: var(--white);
}

footer .fa-envelope:hover {
  color: var(--red);
}

footer .fa-linkedin:hover {
  color: var(--blue);
}

footer .fa-whatsapp-square:hover {
  color: var(--green);
}

/* Media queries */
@media (max-width:800px) {
  /* Footer */
  .footer-section-final {
    justify-content: center;
  }

  .footer-contact {
    width: 40%;
  }
}