body {
  margin: 0;
  padding: 0;
  background-color: #1d1d1d;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
  height: 100%;
}

header {
  background-color: rgb(0, 0, 0);
}

ul {
  list-style: none;
  padding-right: 2%;
}

li {
	height: 100%;
}

li a {
	justify-content: center;
	align-items: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: calc(0.1em + 1vw);
	text-align: center;
	height: 100%;
}

li a:hover {
	color: black;
	background-color: white;
}

h1 {
  margin: 0;
  color: #5FA4DA;
  font-style: italic;
  font-size: 2em;
}

h2 {
  margin: 0;
  color: #5FA4DA;
  font-style: italic;
}

.logo-img {
  width: 3%;
  margin: 0.5% 0.5% 0.5% 3%;
}

.section-hr {
	width: 94%;
	background-color: #5FA4DA;
	border: 1px solid #5FA4DA;
}

.flexbox {
  display: flex;
  align-items: center;
}

.flexbox-header {
  justify-content: space-between;
	border-bottom: 2px solid white;
}

.flexbox-nav {
  justify-content: flex-end;
  width: 100%;
}

.flexbox-ul-list {
  justify-content: space-between;
  width: 40%;
	height: 100%;
  padding: 0;
  margin: 1% 3.2% 1% 3.2%;
}

.flexbox-section {
  justify-content: space-between;
  margin: 3%;
}

.flexbox-section1-information {
  flex-direction: column;
  text-align: center;
  color: white;
  font-size: calc(0.4em + 1vw);
  margin-right: 10%;
}

.flexbox-section1-image {
  justify-content: flex-end;
  width: 15%;
}

.img-photo-profile {
  width: 100%;
  border-radius: 100%;
}

.flexbox-section2-information {
  flex-direction: column;
  width: 100%;
  text-align: center;
  color: white;
  font-size: calc(0.4em + 1vw);
}

.flexbox-section-benefits {
  flex-direction: column;
  margin: 3% 3% 0 3%;
}

.flexbox-section-benefits h2 {
  justify-content: center;
  text-align: center;
  margin-bottom: 2%;
}

.flexbox-div-benefits {
  justify-content: space-between;
  align-items: center;
  width: 80%;
  color: white;
}

.flexbox-section-benefits-hard-skills {
  flex-direction: column;
  margin: 3% 3% 0 3%;
}

.flexbox-div-benefits-hard-skills {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.flexbox-section-benefits-hard-skills h2 {
  justify-content: center;
  text-align: center;
  margin-bottom: 2%;
}

.flexbox-techs {
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5%;
}

.flexbox-techs img {
  margin: 0 2% 0 2%;
  height: 100%;
  width: 10%;
}

.img-techs {
  border-radius: 20%;
}

.flexbox-benefit {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 100%;
  text-align: center;
  font-size: calc(0.4em + 1vw);
}

.flexbox-benefit p {
  height: 150px;
}

.flexbox-benefit img {
  height: calc(6em + 1vh);
  width: calc(5em + 1vw);
}

.flexbox-footer {
  flex-direction: column;
  justify-content: center;
  background-color: black;
  color: white;
  position: relative;
  bottom: 0;
  height: auto;
  font-size: calc(0.2em + 1vw);
  flex-wrap: wrap;
  font-style: italic;
	border-top: 2px solid white;
  text-align: center;
}

.flexbox-footer p {
  margin: 1% 3% 1% 3%;
}

.footer-contact {
  justify-content: space-between;
  width: 40.5%;
  margin: 1% 3% 1% 3%;
}

.footer-contact a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

/* Media queries */
@media (max-width: 1000px) {
  .logo-img {
    width: 5%;
  }

  li a {
    font-size: calc(0.3em + 1vw);
  }

	.flexbox-section1-image {
		width: 20%;
	}

  .flexbox-section1-information {
    font-size: calc(0.6em + 1vw);
  }

  .flexbox-section2-information {
    font-size: calc(0.6em + 1vw);
  }

  .flexbox-footer {
    font-size: calc(0.4em + 1vw);
  }

  .flexbox-benefit {
    font-size: calc(0.6em + 1vw);
  }

  .flexbox-techs img {
    width: 14%;
  }
}

@media (max-width: 600px) {
  .logo-img {
    margin-left: auto;
    margin-right: auto;
  }

  .flexbox-header {
    flex-wrap: wrap;
  }

  .flexbox-nav {
    justify-content: center;
  }

	.flexbox-section1-image {
		width: 40%;
	}

  .flexbox-ul-list {
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
    width: 80%;
  }

  .flexbox-footer {
    text-align: center;
  }

  .flexbox-div-benefits-hard-skills {
    width: 90%;
  }

  .flexbox-techs img {
    width: 16%;
  }
}

@media (max-width: 400px) {
  .logo-img {
    width: 5%;
  }

	.flexbox-section1-image {
		width: 60%;
	}

  .flexbox-div-benefits {
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
  }

  .flexbox-benefit {
    width: 60%;
    margin-bottom: 2%;
  }

  .flexbox-benefit img {
    height: calc(5em + 1vh);
    width: calc(4em + 1vw);
  }

  .flexbox-benefit p {
    height: auto;
  }

  .flexbox-techs {
    justify-content: center;
    flex-wrap: wrap;
  }

  .flexbox-techs img {
    height: calc(3em + 1vh);
    width: calc(3em + 1vw);
    margin-top: 5%;
  }
}