body {
	margin: 0;
	padding: 0;
	background-color: #1d1d1d;
}

header {
	background-color: rgb(0, 0, 0);
}

ul {
	list-style: none;
	padding-right: 2%;
}

li {
	margin-right: 2%;
}

a {
	text-decoration: none;
	color: rgb(255, 255, 255);
	font-weight: bold;
	font-size: calc(0.1em + 1vw);
}

h2 {
	color: #5FA4DA;
	font-style: italic;
}

.logo-img {
	width: 3%;
	margin: 0.5%;
}

.header-hr {
	height: 0.2%;
	margin: 0;
	background-color: white;
}

.section-hr {
	height: 0.4%;
	margin: 0 4% 0 4%;
	border: none;
	background-color: #5FA4DA;
	border-radius: 50%;
}

.flexbox {
	display: flex;
	align-items: center;
}

.flexbox-header {
	justify-content: space-between;
}

.flexbox-nav {
	justify-content: flex-end;
	width: 100%;
}

.flexbox-ul-list {
	justify-content: space-between;
	margin: 0;
	width: 40%;
}

.flexbox-article {
	justify-content: space-between;
	width: 100%;
	margin: 3%;
}

.flexbox-section-information {
	flex-direction: column;
	text-align: center;
	color: white;
	font-size: calc(0.4em + 1vw);
	margin-right: 10%;
	font-style: italic;
}

.flexbox-section-information2 {
	flex-direction: column;
	width: 100%;
	text-align: center;
	color: white;
	font-size: calc(0.4em + 1vw);
	font-style: italic;
}

.flexbox-section-image {
	justify-content: flex-end;
	width: 15%;
}

.img-photo-profile {
	width: 100%;
	border-radius: 50%;
}

/* Media queries */
@media (max-width: 1000px) {
	.logo-img {
		width: 5%;
	}

	a {
		font-size: calc(0.3em + 1vw);
	}
}

@media (max-width: 600px) {
	.logo-img {
		margin-left: auto;
		margin-right: auto;
	}

	.flexbox-header {
		flex-wrap: wrap;
	}

	.flexbox-nav {
		justify-content: center;
	}

	.flexbox-ul-list {
		justify-content: space-around;
		flex-wrap: wrap;
		padding: 0;
		width: 80%;
	}
}