html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
  margin-bottom: 40px;
	padding: 0;
	background-color: #1d1d1d;
}

header {
	background-color: rgb(0, 0, 0);
}

ul {
	list-style: none;
	padding-right: 2%;
}

li {
	margin-right: 2%;
}

li a {
	text-decoration: none;
	color: rgb(255, 255, 255);
	font-weight: bold;
	font-size: calc(0.1em + 1vw);
}

h2 {
	margin: 0;
	color: #5FA4DA;
	font-style: italic;
}

.logo-img {
	width: 3%;
	margin: 0.5%;
}

.header-hr {
	height: 0.3%;
	margin: 0;
	background-color: white;
	border: none;
}

.section-hr {
	height: 0.4%;
	margin: 0 4% 0 4%;
	border: none;
	background-color: #5FA4DA;
	border-radius: 50%;
}

.flexbox {
	display: flex;
	align-items: center;
}

.flexbox-header {
	justify-content: space-between;
}

.flexbox-nav {
	justify-content: flex-end;
	width: 100%;
}

.flexbox-ul-list {
	justify-content: space-between;
	margin: 0;
	width: 40%;
}

.flexbox-section {
	justify-content: space-between;
	margin: 3%;
}

.flexbox-section1-information {
	flex-direction: column;
	text-align: center;
	color: white;
	font-size: calc(0.4em + 1vw);
	margin-right: 10%;
	font-style: italic;
}

.flexbox-section1-image {
	justify-content: flex-end;
	width: 15%;
}

.img-photo-profile {
	width: 100%;
	border-radius: 50%;
}

.flexbox-section2-information {
	flex-direction: column;
	width: 100%;
	text-align: center;
	color: white;
	font-size: calc(0.4em + 1vw);
	font-style: italic;
	margin-bottom: 10%;
}

.footer-hr {
	height: 0.3%;
	margin: 0;
	border: none;
	background-color: white;
	position: absolute;
  bottom: 80px;
	width: 100%;
}

.flexbox-footer {
	justify-content: center;
	background-color: black;
	color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
	font-size: calc(0.2em + 1vw);
	flex-wrap: wrap;
	font-style: italic;
}

.flexbox-footer a {
	text-decoration: none;
	color: rgb(255, 255, 255);
}

.flexbox-footer p {
	margin-right: 3%;
}

.flexbox-footer-p-copyright {
	margin-left: 3%;
}

/* Media queries */
@media (max-width: 1000px) {
	.logo-img {
		width: 5%;
	}

	li a {
		font-size: calc(0.3em + 1vw);
	}

	.flexbox-section1-information {
		font-size: calc(0.6em + 1vw);
	}

	.flexbox-section2-information {
		font-size: calc(0.6em + 1vw);
	}

	.flexbox-footer {
		font-size: calc(0.4em + 1vw);
	}
}

@media (max-width: 600px) {
	.logo-img {
		margin-left: auto;
		margin-right: auto;
	}

	.flexbox-header {
		flex-wrap: wrap;
	}

	.flexbox-nav {
		justify-content: center;
	}

	.flexbox-ul-list {
		justify-content: space-around;
		flex-wrap: wrap;
		padding: 0;
		width: 80%;
	}

	.flexbox-footer {
		text-align: center;
	}
}