/* Main */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 56px;
}

/* Form */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 2% 0;
  background-color: #343A40;
  color: white;
  width: min(80%, 400px);
  -webkit-box-shadow: var(--webkit-box-shadow); 
  box-shadow: var(--box-shadow);
}

form div {
  width: 80%;
}

form p {
  margin-top: 5%;
  font-size: 0.7em;
  text-align: center;
}

form p a {
  text-decoration: none !important;
  color: var(--yellow-weight);
}

form p a:hover {
  color: var(--orange-weight);
}

.form-buttons {
  display: flex;
  justify-content: space-between;
}

.button-image-cancel {
  padding: 10px;
  display: none;
  border-radius: 100%;
}

.button-image-accept {
  padding: 5px;
  display: none;
  border-radius: 100%;
}

.image-cancel {
  background-image: url(/module1_web_design/3_integrator_project/src/assets/images/button-cancel2.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 25px;
  height: 25px;
}

.image-accept {
  background-image: url(/module1_web_design/3_integrator_project/src/assets/images/button-accept2.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 35px;
  height: 25px;
}

/* Footer */
footer {
  margin-top: 0;
}

/* Media queries */
@media (max-width:400px) {
  form p {
    width: 80%;
  }

  .button-cancel {
    display: none;
  }

  .button-accept {
    display: none;
  }

  .button-image-cancel {
    display: block;
  }

  .button-image-accept {
    display: block;
  }
}