.button-component {
	background: linear-gradient(98.81deg, #4e8bb8 -0.82%, #bbf0ff 101.53%);
	outline: none;
	border: 0px solid;
	padding: 15px 40px;
	border-radius: 8px;
	color: rgb(0, 0, 0);
	font-weight: 600;
	font-size: 13px;
	cursor: pointer;
	font-weight: 700;
	width: 100%;
	text-transform: uppercase;
}

.disable-button {
	cursor: not-allowed;
	background: #383838;
	color: #777777;
}

.enable-button {
	cursor: pointer;
  background: linear-gradient(98.81deg, #4e8bb8 -0.82%, #bbf0ff 101.53%);
	color: rgb(0, 0, 0);
}
