/* Main */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 56px;
}

/* About */
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 2% 5%;
  text-align: justify;
  background: var(--black);
  color: var(--white);
  border-radius: 5px;
  -webkit-box-shadow: var(--webkit-box-shadow); 
  box-shadow: var(--box-shadow);
  overflow: hidden;
}

.about div {
  height: 600px;
  padding-right: 5px;
  padding-left: 10px;
  overflow: auto;
}

.about h1 {
  text-align: center;
}

.about div::-webkit-scrollbar {
  width: 7px;
}

/* Footer */
footer {
  margin-top: 0;
}