/* Media queries */
@media (max-width: 800px) {
	/* Footer */
	.footer-section-final {
		justify-content: center;
	}

	.footer-contact {
		width: 40%;
	}
}

@media (max-width: 600px) {
	/* Cart */
	.cart {
		width: 100%;
	}
}

@media (max-width: 400px) {
	/* Cart and hamburger menu */
	.list-navbar {
		padding: 0;
	}

	.btn-cart {
		margin: 0;
	}

	.btn-home,
	.btn-user {
		display: none;
	}

	.hamburger-menu-button-container {
		display: flex;
	}

	/* Section offers */
	.product-offer .item-title {
		font-size: 1.3rem !important;
	}

	/* Footer */
	.footer-contact {
		width: 60%;
	}
}
