/* Media queries */
@media (max-width: 800px) {
	/* Carousel */
	.carousel-item img {
		max-height: 350px;
	}

	/* Footer */
	.footer-section-final {
		justify-content: center;
	}

	.footer-contact {
		width: 40%;
	}
}

@media (max-width: 600px) {
	/* Cart */
	.cart {
		width: 100%;
	}
}

@media (max-width: 500px) {
		/* Carousel */
		.carousel-item img {
			max-height: 250px;
		}

	/* Cart */
	.cart-item {
		justify-content: center;
		width: 60%;
	}

	.img-and-item-info-cart {
		justify-content: space-around;
		flex-direction: column;
		width: 100%;
	}

	.item-info {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
	}

	.item-price {
		text-align: center;
		width: 100%;
	}

	.item-price-old {
		text-align: center;
		width: 100%;
	}
}

@media (max-width: 400px) {
	/* Cart and hamburger menu */
	.list-navbar {
		padding: 0;
	}

	.btn-cart {
		margin: 0;
	}

	.btn-home,
	.btn-user-profile {
		display: none;
	}

	.hamburger-menu-button-container {
		display: flex;
	}

	/* Section offers */
	.product-offer .item-title {
		font-size: 1.3rem !important;
	}

	/* Products filter */
	.filters-products {
		width: 200px;
	}

	/* Footer */
	.footer-contact {
		width: 60%;
	}

	/* Cart */
	.cart-item {
		width: 80%;
	}
}
