/* Variables */
:root {
	--black: black;
	--black-light: rgb(52, 58, 64);
	--black-light2: rgb(30, 31, 33);
	--white: white;
	--gray: gray;
	--red: #cd3c30;
	--blue: #0073b1;
	--blue-light: #4e8bb8;
	--blue-light2: #6fe0ff;
	--green: #00a884;
	--button: linear-gradient(98.81deg, #4e8bb8 -0.82%, #bbf0ff 101.53%);
	--green-light: rgb(113, 255, 113);
	--red-light: rgb(255, 113, 113);
}
