/* Variables */
:root {
	--black: black;
	--black-light: rgb(52, 58, 64);
	--white: white;
	--gray: gray;
	--red: #cd3c30;
	--blue: #0073b1;
	--blue-light: #4e8bb8;
	--green: #00a884;
	--button: linear-gradient(98.81deg, #4e8bb8 -0.82%, #bbf0ff 101.53%);
}
