/* Main */
main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 56px;
}

/* Form */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 2% 0;
  background-color: #343A40;
  color: white;
  margin: 2%;
  width: min(80%, 400px);
  height: calc(38em + 1vh);
  -webkit-box-shadow: var(--webkit-box-shadow); 
  box-shadow: var(--box-shadow);
}

form div {
  width: 80%;
}

form input {
  width: 90%;
  height: 30px;
  margin: 0;
}

form textarea {
  resize: none;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
}

.message-phone {
  font-weight: bold;
  color: var(--orange-weight);
  font-size: 0.7em;
  margin: 0;
}

.button-image-cancel {
  padding: 10px;
  display: none;
  border-radius: 100%;
}

.button-image-accept {
  padding: 5px;
  display: none;
  border-radius: 100%;
}

.image-cancel {
  background-image: url(../../assets/images/button-cancel2.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 25px;
  height: 25px;
}

.image-accept {
  background-image: url(../../assets/images/button-accept2.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 35px;
  height: 25px;
}

/* Contact data */
.contact-data {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin: 2%;
  width: min(80%, 400px);
  height: calc(38em + 1vh);
  border-radius: 10px;
  background: var(--black);
  padding: 1%;
  top: 0;
  -webkit-box-shadow: var(--webkit-box-shadow); 
  box-shadow: var(--box-shadow);
}

.contact-data p {
  color: var(--white);
  margin-top: 2%;
  text-align: justify;
}

.contact-data iframe {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 100%;
  border:0;
}

.contact-data div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.contact-data div i {
  color: var(--white);
}

.contact-data div .fa-envelope:hover {
  color: var(--red);
}

.contact-data div .fa-linkedin:hover {
  color: var(--blue);
}

.contact-data div .fa-whatsapp-square:hover {
  color: var(--green);
}

/* Footer */
footer {
  margin-top: 0;
}

/* Media queries */
@media (max-width: 600px) {
  main {
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .button-cancel {
    display: none;
  }

  .button-accept {
    display: none;
  }

  .button-image-cancel {
    display: block;
  }

  .button-image-accept {
    display: block;
  }
}