.divPizzaId {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 10%;
}

/* Error / Success */
.inputError {
  border: 3px solid #DC3545;
}

.messageError {
  color: #DC3545;
  max-width: 350px;
  text-align: center;
  padding: 7px 0;
}