/* HTML y Body */
html {
	scroll-behavior: smooth;
	scroll-padding: 56px;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	background: var(--black);
}

/* Hidden and show */
.hide {
	display: none;
}

.show {
	display: flex;
}

/* Scrollbar */
::-webkit-scrollbar {
	display: none;
}

*::-webkit-scrollbar {
	width: 10px;
}

*::-webkit-scrollbar-track {
	background: var(--black-light);
}

*::-webkit-scrollbar-thumb {
	background-color: var(--white);
	border-radius: 20px;
	/* border: 3px solid var(--white); */
}

/* Overlay */
.overlay {
	top: 65px;
	position: fixed;
	bottom: 0;
	height: 100vh;
	width: 100vw;
	z-index: 100; /*Para que quede por encima del resto de las cosas*/
	/*Efecto de Glassmorphismo*/
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	display: none;
}

.show-overlay {
	display: block;
}

/* Main */
.container {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	min-width: 100%;
	min-height: 100vh;
}

main {
	flex: 1;
}

/* Header y Navbar */
.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: var(--black);
}

/* Hamburger Menu */
.hamburger-menu {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	top: 65px;
	left: 0;
	width: 100%;
	background-color: var(--black);
}

.hamburger-menu > li {
	display: flex;
	justify-content: center;
	overflow: hidden;
	padding: 0.5em 0;
	width: 100%;
	color: white;
	text-transform: uppercase;
}

.hamburger-menu > li:not(:last-child) {
	border-bottom: 1px solid #444;
}

.hamburger-menu-button-container {
	display: none;
	height: 100%;
	width: 30px;
	cursor: pointer;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#hamburger-menu-toggle {
	display: none;
}

.hamburger-menu-button,
.hamburger-menu-button::before,
.hamburger-menu-button::after {
	display: block;
	background-color: #fff;
	position: absolute;
	height: 4px;
	width: 28px;
	transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
	border-radius: 2px;
}

.hamburger-menu-button::before {
	content: "";
	margin-top: -8px;
}

.hamburger-menu-button::after {
	content: "";
	margin-top: 8px;
}

#hamburger-menu-toggle ~ .hamburger-menu li {
	height: 0;
	margin: 0;
	padding: 0;
	border: 0;
	transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

#hamburger-menu-toggle:checked ~ .hamburger-menu li {
	height: 2.5em;
	margin: 20px;
	transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

#hamburger-menu-toggle:checked + .hamburger-menu-button-container .hamburger-menu-button::before {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	top: 0;
	margin-top: 0;
}

#hamburger-menu-toggle:checked + .hamburger-menu-button-container .hamburger-menu-button {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

#hamburger-menu-toggle:checked + .hamburger-menu-button-container .hamburger-menu-button::after {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	bottom: 0;
}

#hamburger-menu-toggle:checked + .hamburger-menu-button-container + ul {
	opacity: 1;
}

.hamburger-menu-footer-contact {
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	width: 100%;
	gap: 10%;
	margin: 0;
	padding: 5%;
}

.hamburger-menu-footer-contact a {
	background-color: transparent !important;
}

.hamburger-menu-footer-contact i {
	color: var(--white);
}

.hamburger-menu-footer-contact .fa-street-view:hover {
	color: var(--orange);
}

.hamburger-menu-footer-contact .fa-envelope:hover {
	color: var(--red);
}

.hamburger-menu-footer-contact .fa-linkedin:hover {
	color: var(--blue);
}

.hamburger-menu-footer-contact .fa-whatsapp-square:hover {
	color: var(--green);
}

nav a {
	color: var(--white) !important;
	font-weight: bold;
	text-align: center;
}

nav a:hover {
	background-color: var(--white);
	color: var(--black) !important;
	font-weight: bold;
}

nav a img {
	width: 50px;
}

.link-logo {
	border-radius: 100px;
	margin-right: 1%;
}

.list-navbar {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 40%;
	list-style: none;
}

.list-navbar i {
	/* color: var(--blue-light); */
	background-image: var(--button);
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	padding: 0;
	margin: 10px 10px 0 0;
	font-size: 20px;
}

.list-navbar i:hover {
	cursor: pointer;
	/* color: var(--blue-light); */
}

/* Cart */
.cart {
	display: flex;
	position: absolute;
	top: 65px;
	right: 0;
	padding: 50px 30px;
	background: var(--black);
	color: var(--white);
	flex-direction: column;
	z-index: 2;
	border-bottom-left-radius: 15px;
	width: 500px;
	height: 90vh;
	transform: translate(200%);
	transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
	overflow: auto;
}

.btn-cart {
	margin: 0 60px;
}

.btn-cart:hover {
	cursor: pointer;
}

.open-cart {
	display: flex;
	transform: translate(0%);
	transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}

.quantity-products-cart {
	display: none;
	justify-content: center;
	align-items: center;
	width: 16px;
	height: 16px;
	position: absolute;
	border-radius: 50px;
	border: 1px solid var(--white);
	margin-left: 15px;
	margin-top: -2px;
	background-color: var(--red);
	font-size: 12px;
	text-align: center;
	font-weight: bold;
	color: var(--white);
}

.show-quantity-products-cart {
	display: flex;
}

.cart h2 {
	font-weight: 500;
	margin: 50px 0;
}

.cart-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
}

.cart::-webkit-scrollbar {
	display: none;
}

.cart-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	background-color: var(--black-light2);
	padding: 20px;
	border-radius: 10px;
	flex-wrap: wrap;
	/* box-shadow: 0px 0px 50px 0px var(--black-light); */
}

.cart-item img {
	width: 80px;
	height: 80px;
	border-radius: 20px;
	margin-left: 5px;
	object-fit: cover;
}

.img-and-item-info-cart {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 60%;
	gap: 20px;
}

.down-and-up-cart {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.cart-subtotal {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	width: 100%;
	margin-top: 5%;
}

.cart-envio {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	width: 100%;
	margin: 2% 0 5% 0;
}

.cart-total {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	width: 100%;
	margin-bottom: 20px;
	font-size: 25px;
	font-weight: 700;
}

.cart-total p {
	background-image: var(--button);
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
}

.cart-total span {
	color: var(--blue-light2) !important;
}

.btn-buy-cart,
.btn-clear-cart {
	/* margin: 10px auto; */
	width: 100%;
	height: 50px;
	color: var(--black);
	background: var(--button);
	border-radius: 15px;
	border: none;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.1s all ease-out;
}

.btn-clear-cart:hover {
	transform: scale(1.03);
}

.div-buttons-cart {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	gap: 20px;
	margin-bottom: 20px;
}

.disable-buttons-cart {
	background: var(--gray);
	color: var(--white);
	cursor: not-allowed !important;
	border: none !important;
	outline: none !important;
	transform: none !important;
}

.cart-more-products {
	margin: auto;
	font-weight: 400;
	font-size: 15px;
	margin-top: 10px;
	opacity: 30%;
	transition: 0.1s all ease-out;
}

.cart-more-products:hover {
	cursor: pointer;
	opacity: 100%;
	font-weight: 600;
	color: var(--blue-light);
	transform: scale(1.03);
}

.btn-delete-product-cart {
	font-size: 25px;
	color: var(--red);
	transition: 0.05s all ease-out;
	margin-left: 10px;
}

.btn-delete-product-cart:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.btn-close-cart {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 25px;
	height: 25px;
	background: var(--button);
	box-shadow: 11px 28px 50px 0px #144e5a33;
	border-radius: 4px;
	border: none;
	font-size: 14px;
	font-weight: bold;
}

.prices-product-cart {
	display: flex;
	justify-content: start;
	align-items: flex-start;
	flex-direction: column;
}

.item-handler {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
}

.quantity-handler {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2px 8px;
	border-radius: 5px;
	color: var(--text-white);
	font-weight: 400;
}

.item-quantity {
	color: var(--text-white);
}

.up {
	color: var(--black);
	background: var(--button);
	font-size: 1rem;
	width: 25px;
	height: 25px;
	font-weight: bold;
	transition: 0.05s all ease-out;
}

.down {
	color: var(--black);
	background: var(--button);
	font-size: 1rem;
	width: 25px;
	height: 25px;
	font-weight: bold;
	transition: 0.05s all ease-out;
}

.up:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.down:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.disable-scroll {
	overflow-y: hidden;
}

/* Buttons */
button {
	padding: 0.5em 1em;
	border: 2px solid var(--black-light);
	border-radius: 100px;
	font-weight: bold;
	text-transform: uppercase;
	background: var(--button);
	color: var(--black-light);
	transition: 0.1s all ease-out;
}

button:hover {
	transform: scale(1.03);
}

.link-button {
	border-radius: 100px;
}

/* Footer */
footer {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: var(--black);
	color: var(--white);
	width: 100%;
	bottom: 0;
	height: 250px;
	flex-wrap: wrap;
	font-style: italic;
	text-align: center;
	margin-top: 6%;
}

.footer-title {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70px;
	margin: 0 2% 0 2%;
}

.footer-title img {
	width: 50px;
}

.footer-title img:hover {
	border-radius: 100px;
	background-color: var(--white);
}

.footer-title p {
	font-size: 2em;
}

.footer-section-final {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.footer-contact {
	display: flex;
	justify-content: space-between;
	width: 20%;
	margin-right: 2%;
}

footer p {
	margin: 0;
	padding: 1.5% 2%;
}

.footer-divisor {
	margin: 2%;
	border: 1px solid var(--gray);
}

footer i {
	color: var(--white);
}

footer .fa-street-view:hover {
	color: var(--orange);
}

footer .fa-envelope:hover {
	color: var(--red);
}

footer .fa-linkedin:hover {
	color: var(--blue);
}

footer .fa-whatsapp-square:hover {
	color: var(--green);
}

/* Snackbar */
.snackbar-container {
	padding: 0 100px 50px 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center !important;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
.snackbar {
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden; /* Hidden by default. Visible on click */
	min-width: 250px; /* Set a default minimum width */
	/* margin-left: -125px; /* Divide value of min-width by 2 */
	/* background-color: var(--green); /* Black background color */
	color: var(--black); /* White text color */
	font-weight: 600; /* Stroke thickness */
	text-align: center; /* Centered text */
	border-radius: 2px; /* Rounded borders */
	padding: 16px; /* Padding */
	margin: 10px;
	position: fixed; /* Sit on top of the screen */
	z-index: 9999999; /* Add a z-index if needed */
	/* left: 50%; /* Center the snackbar */
	bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
.snackbar.show {
	visibility: visible; /* Show the snackbar */
	/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
	-webkit-animation: fadein 6s, fadeout 6s 6s;
	animation: fadein 0.5s, fadeout 0.5s 3s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}
	to {
		bottom: 30px;
		opacity: 1;
	}
}

@keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}
	to {
		bottom: 30px;
		opacity: 1;
	}
}

@-webkit-keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}
	to {
		bottom: 0;
		opacity: 0;
	}
}

@keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}
	to {
		bottom: 0;
		opacity: 0;
	}
}

/* Modal */
.modal {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	z-index: 999999;
	align-items: center;
	justify-content: center;
}

.modal .container-modal {
	display: flex;
	flex-flow: column;
	background-color: var(--black-light2);
	box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.03);
	margin: 50px;
}

.modal .container-modal.zoom {
	transform: scale(0.5);
	margin: 50px;
}

.modal .container-modal.slide {
	transform: translateY(-1000px);
}

.modal .container-modal .header {
	display: flex;
	padding: 20px;
	font-weight: 600;
	justify-content: space-between;
	border-bottom: 1px solid #e6e9ec;
	align-items: center;
}

.modal .container-modal .header h1 {
	font-weight: 500;
	color: #4d4d4d;
	padding: 0;
	margin: 0;
}

.modal .container-modal .header button {
	appearance: none;
	border: none;
	background: transparent;
	cursor: pointer;
	font-size: 24px;
	line-height: 24px;
	padding-bottom: 4px;
	cursor: pointer;
	color: #9a9a9a;
}

.modal .container-modal .header button:hover {
	color: #676767;
}

.modal .container-modal .content {
	padding: 20px 15px;
	flex: 1;
}

.modal .container-modal .content p {
	font-weight: bold;
	color: var(--white) !important;
}

.modal .container-modal .content .prompt-input input {
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #e6e9ec;
	margin-top: 15px;
	width: 100%;
}

.modal .container-modal .footer {
	border-top: 1px solid #e6e9ec;
	background-color: var(--black-light2);
	padding: 15px;
	display: flex;
	justify-content: space-between;
}

.modal .container-modal .footer button {
	display: inline-flex;
	appearance: none;
	border: none;
	background-color: #3a75d5;
	color: #ffffff;
	border-radius: 4px;
	padding: 7px 12px;
	font-size: 14px;
	margin-right: 7px;
	cursor: pointer;
}

.modal .container-modal .footer button:last-child {
	margin-right: 0;
}

.modal .container-modal .footer button:hover {
	background-color: #326fd3;
}

.modal .container-modal .footer button.alt {
	font-weight: 500;
	background-color: #dadbdd;
	color: #606266;
}

.modal .container-modal .footer button.alt:hover {
	background-color: #d5d6d8;
}

.modal .container-modal .footer button.right {
	margin-left: auto;
}

.modal.small .container-modal {
	width: 400px;
}

.modal.medium .container-modal {
	width: 600px;
}

.modal.large .container-modal {
	width: 900px;
}

.modal.full .container-modal {
	width: 100%;
	height: 100%;
}

.modal.open {
	display: flex;
}

.modal.open .container-modal.zoom {
	transform: scale(1);
	transition: all 0.2s ease;
}

.modal.open .container-modal.slide {
	transform: translateY(0);
	transition: all 0.5s ease;
}

.modal .container-modal .footer button.cancel {
	background: var(--red-light);
	color: var(--black);
	font-weight: bold;
}

.modal .container-modal .footer button.success {
	background: var(--green-light);
	color: var(--black);
	font-weight: bold;
}

.modal .container-modal .footer-button-right {
	justify-content: flex-end;
}

.div-group-password-login-and-register {
	position: relative;
	margin-bottom: 0;
}

.div-group-password-login-and-register i {
	position: absolute;
	right: 5px;
	top: 36px;
	text-transform: uppercase;
	cursor: pointer;
	padding: 2px 10px;
	color: var(--black-light2);
	font-size: 24px;
}

.btn-show-password {
	color: var(--gray) !important;
	cursor: not-allowed !important;
}

/* User */
/* Form login and register user */
form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	color: white;
	width: 100%;
	/* width: min(80%, 400px); */
}

form img {
	height: 70px;
}

form div {
	width: 80%;
}

form p {
	font-size: 0.7em;
	text-align: center;
}

form p a {
	text-decoration: none !important;
	color: var(--blue-light) !important;
}

form p a:hover {
	cursor: pointer;
}

/* Form register user */
form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	color: white;
	width: 100%;
	height: 50%;
	/* width: min(80%, 400px); */
}

form img {
	height: 70px;
}

form div {
	width: 80%;
}

form p {
	font-size: 0.7em;
	text-align: center;
	margin: 0;
}

form p a {
	text-decoration: none !important;
	color: var(--blue-light) !important;
}

form p a:hover {
	cursor: pointer;
}

/* User Profile */
.container-user-profile {
	display: flex;
	position: absolute;
	top: 65px;
	right: 0;
	padding: 50px;
	background: var(--black);
	color: var(--white);
	flex-direction: column;
	z-index: 2;
	border-bottom-left-radius: 15px;
	/* width: 500px;
	height: 95vh; */
	transform: translate(200%);
	transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
	overflow: auto;
}

.list-user-profile {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.list-user-profile {
	background-image: var(--button);
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
}

.list-user-profile i {
	font-size: 20px;
}

.btn-logout {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	gap: 20px;
}

.btn-logout span {
	margin: 0;
	text-transform: uppercase;
	font-weight: bold;
}

.btn-logout:hover {
	cursor: pointer;
}

.open-user-profile {
	display: flex;
	transform: translate(0%);
	transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}

/* Message Error and Success */
.form-group.error input {
	border: 2px solid var(--red);
}

.form-group.success input {
	border: 2px solid var(--green);
}

.message-error {
	color: var(--red);
	max-width: 350px;
	text-align: center;
	padding: 7px 0;
}
