/* Carousel */
.carousel .carousel-item {
  margin-top: 56px;
  max-height: 450px;
  min-height: 250px;
}

.carousel-item img {
  max-height: 450px;
  min-height: 250px;
  object-fit: cover;
}

.carousel-control-prev {
  top: 56px;
}

.carousel-control-next {
  top: 56px;
}

/* Section destinations */
.section-destinations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.section-destinations h1 {
  font-size: 2em;
  font-weight: bold;
  color: var(--black);
  margin: 2%;
  font-style: italic;
}

.destinations {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2%;
  width: 80%;
  gap: 40px;
}

.card {
  background-color: var(--black);
  color: var(--white);
  flex: 1 1 18rem;
  border-radius: 20px;
  overflow: hidden;
  border: 2px solid var(--black);
  font-style: italic;
}

.card:hover {
  transform: scale(1.04);
  -webkit-box-shadow: var(--webkit-box-shadow); 
  box-shadow: var(--box-shadow);
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-body p {
  text-align: justify;
}

.card-body button {
  margin-top: 10%;
  background: var(--white);
}

.card-body button:hover {
  background: var(--gradient);
}

.card-text {
  height: 150px;
  overflow: auto;
  padding: 0 6px;
}

.card-text::-webkit-scrollbar {
  width: 5px;
}

/* Media queries */
@media (max-width:1179px) {
  /* Section destinations */
  .card:last-child {
    display: none;
  }
}